/*HEADER*/
.header_container{
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

    .header_inner_container{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .hic_logo_container{
            width: 100px;
            height: 40px;
            margin-left: 10px;
            background-image: url(../img/hanaO_logo_アートボード\ 1.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .hic_navBar_container{
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

            .hic_navBar_container nav button{
                padding: 0;
                outline: none;
                border: none;
                background: transparent;
                cursor: pointer;
                display: grid;
                place-items: center;
                width: 35px;
                height: 35px;
            }

                .buttonBar{
                    content: "";
                    display: block;
                    width: 35px;
                    height: 3px;
                    background-color: #aeaeae;
                    grid-area: 1 / 1;
                    transition: transform 0.5a;
                }

                    button::before, button::after{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 3px;
                        background-color: #aeaeae;
                        grid-area: 1 / 1;
                        transition: transform 0.5s;
                    }

                    button::before{
                        transform: translateY(-12px);
                    }

                    button::after{
                        transform: translateY(12px);
                    }

            .navigationMenu_container{
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                z-index: 100;
                background-color: rgba(0, 0, 0, 0.7);
                transition: transform 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .navigationMenu_container ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                    .navigationMenu_container ul li{
                        font-family: "Noto Serif JP";
                        font-optical-sizing: auto;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 16px;
                        color: #ffffff;
                        text-align: center;
                    }

.open{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.open .buttonBar{
    transform: scale(0);
}

.open .hic_navBar_container nav button::before{
    transform: translateY(0) rotate(45deg);
    z-index: 1000;
}

.open .hic_navBar_container nav button:after{
    transform: translateY(0) rotate(-45deg);
    z-index: 1000;
}

.open .navigationMenu_container{
    transform: translate(-100%, 0);
}

/*FOR DESKTOP*/
@media(min-width: 768px){
    .hic_navBar_container{
        width: auto;
        display: grid;
        place-items: center;
    }

    .hic_navBar_container nav button{
        display: none;
    }

    .navigationMenu_container{
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

        .navigationMenu_container ul{
            flex-direction: row;
        }

        .navigationMenu_container ul li{
            color: #343434;
        }
}

/*FIRST VIEW*/
.firstView_container{
    width: 100%;
    height: 550px;
    background-image: url(../img/firstView/firstview_with_myphoto_w768_h550.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media(min-width: 768px){
    .firstView_container{
        background-image: url(../img/firstView/hanaO_firstView_with_person_w1280_h550_ver3.jpg);
    }
}
    /*
    .firstView_container picture img{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
    */

    .firstView_inner_container{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 0;
        display: grid;
        place-items: center; 
    }

        .firstView_inner_text_container{
            width: 350px;
            height: 550px;
            position: relative;
        }

            .firstView_inner_text_container h1, .firstView_inner_text_container h2, .firstView_inner_text_container h3{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 32px;
                color: #fcfcfc;
                position: absolute;
                top: 20px;
            }

            .firstView_inner_text_container h2{
                font-weight: 400;
                font-size: 24px;
                top: 60px;
                line-height: 2rem;
            }

            .firstView_inner_text_container h3{
                font-size: 24px;
                top: 280px;
                line-height: 2rem;
            }

                .textRed{
                    color: #e5004f;
                    font-size: 32px;
                }

            .description_btn{
                width: 250px;
                height: 50px;
                background-color: rgba(0, 153, 68, 0.7);
                border-radius: 5px;
                position: absolute;
                top: 380px;
                display: grid;
                place-items: center;
            }

                .description_btn p{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 20px;
                    color: #fcfcfc;
                }

/*FOR SE or 13MINI*/
@media(max-width: 350px){
    .firstView_inner_text_container{
        width: 300px;
        border: solid 0.5px blue;
    }

        .firstView_inner_text_container h1{
            font-size: 28px;
        }

        .firstView_inner_text_container h2{
            font-size: 22px;
        }

        .firstView_inner_text_container h3{
            font-size: 22px;
        }

            .textRed{
                font-size: 28px;
            }
}

/*FOR TABLET*/
@media(min-width: 768px){
    .firstView_inner_text_container{
        width: 768px;
    }

        .firstView_inner_text_container h1, .firstView_inner_text_container h2, .firstView_inner_text_container h3, .description_btn{
            left: 10px;
        }

        .firstView_inner_text_container h1{
            top: 50px;
            font-size: 48px;
        }

        .firstView_inner_text_container h2{
            top: 110px;
            font-size: 32px;
            line-height: 2.5rem;
        }

        .firstView_inner_text_container h3{
            font-size: 32px;
            line-height: 2.5rem;
        }

            .textRed{
                font-size: 40px;
            }

        .description_btn{
            top: 400px;
            width: 300px;
        }

            .description_btn p{
                font-size: 24px;
            }
}

/*FEATURE*/
.feature_container{
    width: 100%;
    height: 750px;
    background: linear-gradient(to right, #d7e7af 0%, #fcfcfc 100%);
    display: grid;
    place-items: center;
}

    .feature_inner_container{
        width: 350px;
        height: 750px;
    }

        .feature_inner_title_container{
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .feature_inner_title_container h2{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 24px;
                width: 15rem;
                text-align: center;
                line-height: 2rem;
            }

            .feature_inner_title_container h3{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #c70008;
                margin-top: 10px;
            }

        .feature_inner_contents_container{
            width: 100%;
            height: 560px;
            background-color: rgba(0, 153, 68, 0.3);
        }

            .feature_inner_contents_text_container{
                width: 100%;
                height: 185px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

                .rectangle{
                    width: 165px;
                    height: 165px;
                    background: linear-gradient(to bottom, #FEECD2 0%, #fcfcfc 100%);
                }

                    .rectangle h4, .rectangle p{
                        font-family: "Noto Serif JP", serif;
                        font-optical-sizing: auto;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 16px;
                        color: #343434;
                        margin-top: 10px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .rectangle p{
                        font-weight: 400;
                    }

/*FOR DESKTOP*/
@media(min-width: 768px){
    .feature_inner_container{
        width: 768px;
    }

    .feature_inner_title_container h2{
        width: auto;
        font-size: 28px;
    }

    .feature_inner_title_container h3{
        font-size: 24px;
    }

    .feature_inner_contents_container{
        display: flex;
        height: 550px;
    }

    .feature_inner_contents_text_container{
        flex-direction: column;
        height: auto;
    }

    .rectangle{
        width: 240px;
        height: 250px;
    }

        .rectangle h4{
            font-size: 22px;
        }

        .rectangle p{
            font-size: 20px;
        }
}

/*FOR SE and 13MINI*/
@media(max-width: 350px){
    .feature_inner_container{
        width: 300px;
    }

        .feature_inner_title_container h3{
            font-size: 18px;
        }

        .rectangle{
            width: 140px;
        }

        .rectangle h4, .rectangle p{
            font-size: 14px;
        }
}

/*EMPATHY*/
.empathy_container{
    width: 100%;
    height: 996px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #343434 0%, #9a9a9a 100%);
}

    .empathy_title_container{
        width: 100%;
        height: 106px;
        display: grid;
        place-items: center;
    }

        .empathy_title_container h2{
            font-family: "Kaisei Decol", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: #fcfcfc;
        }

    .empathy_contents_container{
        width: 350px;
        height: 840px;
    }

        .empathy_contents_inner_container{
            width: 350px;
            height: 420px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .empathy_contents_inner_container ol li{
                font-family: "Shippori Mincho", serif;
                font-weight: 400;
                font-style: normal;
                font-size: 20px;
                color: #fcfcfc;
                line-height: 1.5rem;
            }

            .empathy_contents_inner_container ol li:not(:first-child){
                margin-top: 10px;
            }

/*FOR SE or 13MINI*/
@media(max-width: 350px){
    .empathy_title_container h2{
        font-size: 20px;
    }

    .empathy_contents_container{
        width: 300px;
    }

        .empathy_contents_inner_container{
            width: 300px;
        }

            .empathy_contents_inner_container img{
                width: 300px;
                height: auto;
            }

            .empathy_contents_inner_container ol li{
                font-size: 16px;
            }
}

/*FOR DESKTOP*/
@media(min-width: 768px){
    .empathy_container{
        height: 526px;
        justify-content: center;
    }

    .empathy_title_container h2{
        font-size: 36px;
    }

    .empathy_contents_container{
        width: 768px;
        height: 420px;
        display: flex;
        align-items: center;
    }

    .empathy_contents_inner_container{
        width: 384px;
    }

        .empathy_contents_inner_container img{
            width: 384px;
            height: auto;
        }

        .empathy_contents_inner_container ol{
            margin-left: 10px;
        }
}

/*SOLUTIOM RECOMMEMD PLAN*/
.recommendPlan_container{
    width: 100%;
    height: auto;
}

    /*HEADING*/
    .recommendPlan_title_container{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .recommendPlan_title_container h2{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }

    .recommendPlan_contents_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .recommendPlan_contents_inner_container{
            width: 350px;
            height: 360px;
            display: grid;
            place-items: center;
        }

            .recommendCard_outer_container{
                width: 330px;
                height: auto;
               box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            }

                /*TITLE*/
                .recommendCard_title_container{
                    width: 330px;
                    height: 50px;
                    background-color: #fff981;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    display: grid;
                    place-items: center;
                }

                .middle_title_container{
                    background-color: #ecf4d9;
                }

                .under_title_container{
                    background-color: #fcd7a1;
                }

                    .recommendCard_title_container h3{
                        font-family: "Noto Sans JP", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 24px;
                    }

                .recommendCard_inner_container{
                    width: 330px;
                    height: auto;
                }

                    /*PRICE*/
                    .recommendCard_inner_price_container{
                        width: 100%;
                        height: 70px;
                        display: grid;
                        place-items: center;
                    }

                        .recommendCard_inner_priceText_container{
                            width: 250px;
                            height: 50px;
                        }

                        .recommendCard_inner_priceText_container h4{
                            font-family: "Noto Sans JP", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 20px;
                        }

                    /*CONTENTS*/
                    .recommendCard_inner_contents_container{
                        width: 100%;
                        height: 220px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }

                        .recommendCard_inner_text_container{
                            width: 150px;
                            height: 210px;
                        }

                            .page_production p, .recommendCard_inner_text_container ul li{
                                font-family: "Noto Sans JP", sans-serif;
                                font-optical-sizing: auto;
                                font-weight: 700;
                                font-style: normal;
                                font-size: 16px;
                            }

                            .recommendCard_inner_text_container p{
                                text-align: center;
                            }

                            .recommendCard_inner_text_container ul{
                                margin-top: 20px;
                            }

                            .recommendCard_inner_text_container ul li{
                                font-weight: 400;
                            }

                            .recommendCard_inner_text_container ul li:not(:first-child){
                                margin-top: 10px;
                            }

/*FOR DESKTOP*/
@media(min-width: 768px){
    .recommendPlan_contents_container{
        flex-direction: row;
        justify-content: center;
    }

    .recommendPlan_contents_inner_container{
        width: 256px;
        height: 400px;
    }

    .recommendCard_outer_container{
        width: 236px;
    }

    .recommendCard_title_container{
        width: 236px;
    }

    .recommendCard_inner_container{
        width: 236px;
    }

    .recommendCard_inner_priceText_container{
        width: 236px;
    }

    .recommendCard_inner_contents_container{
        flex-direction: column;
        justify-content: start;
        height: 250px;
    }

    .recommendCard_inner_text_container{
        width: 236px;
        height: auto;
    }

    .page_production{
        display: flex;
        margin-left: 10px;
    }

    .recommendCard_inner_text_container ul{
        margin-left: 10px;
        margin-top: 10px;
    }

    .recommendCard_inner_text_container ul li:not(:first-child){
        margin-top: 5px;
    }
}

/*FOR SE or 13MINI*/
@media(max-width: 350px){
    .recommendPlan_title_container h2{
        font-size: 20px;
    }

    .recommendPlan_contents_inner_container{
        width: 300px;
    }

    .recommendCard_outer_container{
        width: 280px;
    }

    .recommendCard_title_container{
        width: 280px;
    }

    .recommendCard_inner_container{
        width: 280px;
    }

    .recommendCard_inner_text_container{
        width: 130px;
    }
}

/*SOLUTION PRICE LIST*/
.priceList_container{
    width: 100%;
    height: auto;
}

    /*HEADING*/
    .priceList_heading_container{
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .priceList_heading_container h2, .priceList_heading_container h3{
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    }

    .priceList_heading_container h3{
        font-size: 20px;
        margin-top: 10px;
    }

    /*PAGE PRODUCTION*/
    .page_production_container{
        width: 100%;
        height: auto;
    }

    .operation_container{
        margin-top: 50px;
    }

        /*SUBHEADING*/
        .page_production_subheading_container{
            width: 100%;
            height: 80px;
            background-color: #136eab;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .page_production_subheading_container h4, .page_production_subheading_container h5{
                font-family: "Shippori Mincho", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #fcfcfc;
            }

            .page_production_subheading_container h5{
                font-size: 16px;
                margin-top: 10px;
            }

        /*FIRSTVIEW*/
        .page_production_firstView_container{
            width: 100%;
            height: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .page_production_firstView_titleOnly_container{
            height: auto;
        }

            /*TITLE*/
            .page_production_firstView_title_container{
                width: 350px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }

            .page_production_firstView_title_container h6{
                font-family: "Shippori Mincho", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 16px;
                color: #c6006f;
            }

            .page_production_firstView_title_container p{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
            }

            .page_production_firstView_inner_container{
                width: 350px;
                height: 500px;
            }

                /*IMAGE*/
                .page_production_firstView_inner_image_container{
                    width: 350px;
                    height: 250px;
                }

                    .page_production_firstView_inner_image_container img{
                        width: 350px;
                        height: 250px;
                        object-fit: cover;
                        object-position: top;
                    }

                    .page_production_firstView_inner_image_navigation_container img{
                        object-fit: contain;
                        height: 125px;
                    }

                    .page_production_firstView_inner_image_cta_container img{
                        object-fit: contain;
                    }

                /*TEXT*/
                .page_production_firstView_inner_text_container{
                    width: 350px;
                    height: 250px;
                    display: flex;
                }

                    .page_production_firstView_inner_text_mobile_container, .page_production_firstView_inner_text_contents_container{
                        width: 155px;
                        height: 250px;
                    }

                    .page_production_firstView_inner_text_contents_container{
                        width: 195px;
                    }

                        /*MOBILE IMAGE*/
                        .page_production_firstView_inner_text_mobile_container img{
                            width: 155px;
                            height: 250px;
                            object-fit: cover;
                            object-position: top;
                        }

                        .page_production_firstView_inner_text_mobile_cta_container img{
                            object-fit: contain;
                        }

                        .page_production_firstView_inner_text_contents_container p{
                            font-family: "Noto Sans JP", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 1.5rem;
                        }

/*FOR DESKTOP*/
@media(min-width: 768px){
    .page_production_firstView_container{
        height: auto;
    }

    .page_production_firstView_inner_container{
        display: flex;
        justify-content: center;
        width: 768px;
        height: auto;
        gap: 20px;
    }

    .priceList_heading_container h2{
        font-size: 32px;
    }

    .priceList_heading_container h3{
        font-size: 24px;
    }

    .page_production_subheading_container h4{
        font-size: 24px;
    }

    .page_production_subheading_container h5{
        font-size: 20px;
    }

    .page_production_firstView_title_container{
        width: 768px;
        justify-content: center;
        align-items: left;
    }

    .page_production_firstView_title_container h6{
        font-size: 24px;
    }

    .page_production_firstView_inner_container{
        width: 768px;
    }

    .page_production_firstView_inner_image_container, .page_production_firstView_inner_text_container{
        width: 374px;
    }

    .page_production_firstView_inner_image_container img{
        width: 374px;
    }

    .page_production_firstView_inner_text_mobile_container, .page_production_firstView_inner_text_contents_container{
        width: 167px;
    }

    .page_production_firstView_inner_text_mobile_container img{
        width: 167px;
    }

    .page_production_firstView_inner_text_contents_container{
        width: 207px;
    }
}

/*FOR SE or 13MINI*/
@media(max-width: 350px){
    .priceList_heading_container h3{
        font-size: 18px;
    }

    .page_production_subheading_container h5{
        font-size: 14px;
    }

    .page_production_firstView_title_container{
        width: 300px;
    }

    .page_production_firstView_title_container h6{
        font-size: 14px;
    }

    .page_production_firstView_inner_container{
        width: 300px;
    }

    .page_production_firstView_inner_image_container, .page_production_firstView_inner_image_container img{
        width: 300px;
    }

    .page_production_firstView_inner_text_container{
        width: 300px;
    }

    .page_production_firstView_inner_text_mobile_container{
        width: 130px;
    }

    .page_production_firstView_inner_text_contents_container{
        width: 170px;
    }

    .page_production_firstView_inner_text_mobile_container img{
        width: 130px;
    }
}


/*EVERY SECTION*/
.everySection{
    margin-top: 50px;
}

.everySection_title_text{
    margin-top: 10px;
}

@media(min-width: 768px){
    .everySection_firstView_title_container{
        height: 80px;
    }
}

/*OPERATION*/
.operation_priceCard_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

    .operation_priceCard_inner_container{
        width: 350px;
        height: 300px;
        background-color: #796baf;
        border-radius: 10px;
        display: grid;
        place-items: center;
    }

        .operation_priceCard_inner_contents_container{
            width: 300px;
            height: 250px;
            background-color: #fcfcfc;
            border-radius: 10px;
        }

            .operation_priceCard_inner_contents_title_container{
                width: 300px;
                height: 90px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .operation_priceCard_inner_contents_title_container h5, .operation_priceCard_inner_contents_title_container h6{
                    font-family: "Shippori Mincho", serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 20px;
                }

                .operation_priceCard_inner_contents_title_container h6{
                    color: #c6006f;
                    margin-top: 5px;
                }

            .operation_priceCard_inner_contents_text_container{
                width: 300px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .operation_priceCard_inner_contents_text_container p{
                    font-family: "Shippori Mincho", serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 20px;
                }

                .operation_priceCard_inner_contents_text_container p:not(:first-child){
                    margin-top: 10px;
                }

/*UNDER PRICE CARD*/
.operation_underPriceCard_container{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.operation_underPriceCard_inner_container{
    height: 640px;
}

.operation_underPriceCard_inner_contents_container{
    height: 600px;
}

.operation_underPriceCard_inner_contents_title_container{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.operation_underPriceCard_inner_contents_title_container h6{
    width: 14rem;
    text-align: center;
}

.operation_underPriceCard_inner_contents_text_container{
    height: 500px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

.paragrah_container:not(:first-child){
    margin-top: 10px;
}

.underPriceCard_red{
    color: #c6006f;
}

.underPriceCard_paragrah_a{
    width: 290px;
}

.underPriceCard_paragrah_a_price{
    text-align: center;
}

.underPriceCard_paragrah_c, .underPriceCard_paragrah_e{
    width: 290px;
}

.underPriceCard_paragrah_c_price{
    text-align: center;
}

.underPriceCard_paragrah_e_price{
    text-align: center;
}

/*FOR SE or 13MINI*/
@media(max-width: 350px){
    .operation_priceCard_inner_container{
        width: 300px;
    }

    .operation_priceCard_inner_contents_container{
        width: 290px;
    }
}

/*FOR DESKTOP*/
@media(min-width: 768px){
    .operation_priceCard_container{
        flex-direction: row;
        justify-content: center;
    }

    .operation_underPriceCard_inner_container{
        width: 708px;
    }

    .operation_underPriceCard_inner_contents_container{
        width: 668px;
    }

    .operation_underPriceCard_inner_contents_title_container{
        width: 100%;
    }

    .operation_underPriceCard_inner_contents_title_container h6{
        width: auto;
    }

    .operation_underPriceCard_inner_contents_text_container{
        width: 568px;
    }

    .paragrah_container{
        display: flex;
        padding: 10px;
        text-align: left;
        width: 548px;
    }

    .operation_underPriceCard_inner_contents_text_container p:not(:first-child){
        margin-top: 0px;
    }

}

/*CONFIDENCE CUSTOMER VOICE*/
.confidence_container{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

    /*HEADING*/
    .confidence_heading_container{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .confidence_heading_container h2, .confidence_heading_container h3{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            width: 22rem;
        }

        .confidence_heading_container h3{
            font-size: 18px;
            width: auto;
            margin-top: 10px;
        }

    .confidence_contents_container{
        width: 100%;
        height: 2100px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .confidence_contents_inner_container{
            width: 350px;
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

            .confidence_contents_inner_text_container, .confidence_contents_inner_image_container{
                width: 330px;
                height: 330px;
            }

                .confidence_contents_inner_text_container p{
                    font-family: "Shippori Mincho", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 1.5rem;
                }

                .confidence_contents_inner_text_container p:not(:first-child){
                    margin-top: 10px;
                }

                .confidence_contents_inner_image_container img{
                    width: 330px;
                    height: 330px;
                    object-fit: cover;
                    object-position: center;
                }

    .confidence_infomation_container{
        width: 100%;
        height: 150px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .confidence_infomation_container h4{
            font-family: "Shippori Mincho", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
        }

        .confidence_infomation_text_container{
            margin-top: 10px;
        }

        .confidence_infomation_text_container p{
            font-family: "Shippori Mincho", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
        }

/*FOR SE or 13MINI*/
@media(max-width: 350px){
    .confidence_heading_container h2{
        font-size: 22px;
        width: 300px;
    }

    .confidence_heading_container h3{
        font-size: 16px;
    }

    .confidence_contents_inner_container{
        width: 300px;
    }

    .confidence_contents_inner_text_container, .confidence_contents_inner_image_container{
        width: 300px;
    }

    .confidence_contents_inner_image_container img{
        width: 300px;
    }
}

/*FOR DESKTOP*/
@media(min-width: 768px){
    .confidence_contents_container{
        height: auto;
    }

    .confidence_contents_inner_container{
        width: 768px;
        height: 350px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

     .confidence_middle{
        flex-direction: row-reverse;
    }

    .confidence_infomation_container{
        height: 100px;
    }

    .confidence_infomation_container h4{
        font-size: 24px;
    }

    .confidence_infomation_text_container{
        display: flex;
    }

    .confidence_infomation_text_container p{
        font-size: 20px;
    }

}
                
/*CALL TO ACTION*/
.callToAction_container{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #f5f5f5;
}

    .callToAction_heading_container{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #343434;
    }

        .callToAction_heading_container h2{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            color: #fcfcfc;
        }

        .callToAction_upperText_container{
            width: 100%;
            height: 50px;
            margin-top: 20px;
        }

            .callToAction_upperText_container p{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                text-align: center;
                line-height: 1.5rem;
            }

            .underText p{
                color: #10662b;
                font-weight: 700;
            }
            
    .callToAction_button_container{
        width: 100%;
        height: 100px;
        display: grid;
        place-items: center;
    }

        .callToAction_ctaButton_container{
            width: 300px;
            height: 60px;
            background-color: #21cc57;
            border-radius: 10px;
            display: grid;
            place-items: center;
        }

            .callToAction_ctaButton_container p{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 24px;
                color: #fcfcfc;
            }

        @media(max-width: 350px){
            .callToAction_heading_container h2{
                font-size: 16px;
            }

            .callToAction_upperText_container p{
                font-size: 16px;
            }
        }

        @media(min-width: 768px){
            .callToAction_heading_container h2{
                font-size: 32px;
            }

            .callToAction_upperText_container{
                height: auto;
            }

            .callToAction_upperText_container p{
                font-size: 30px;
                line-height: 2rem;
            }
        }

/*FOOTER*/
.footer_container{
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: #343434;
}

    .footer_container p{
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #fcfcfc;
        width:18rem;
        text-align: center;
    }

@media(min-width: 768px){
    .footer_container p{
        width: auto;
    }
}